<div class="row 200%">
  <div class="12u">
    <!-- Blog -->
    <section class="box blog">
      <h2 class="major"><span>Posts</span></h2>
      <div>
        <div class="row">

          {% assign post = site.posts.first %}

          <div class="9u 12u(mobile)">
            <div class="content content-left">

              <!-- Featured Post -->
              <article class="box post">
                <header>
                  <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                  <p>{{post.subtitle}}</p>
                  <ul class="meta">
                    <li class="icon fa-clock-o">{{ post.date | date_to_long_string }}</li>
                  </ul>
                </header>
                <a href="{{post.url}}" class="image featured"><img class="post-preview-image" src="{{post.image}}"
                    alt="" /></a>
                <p>
                  {{post.content | truncatewords:100 | strip_html}}
                </p>
                <a href="{{post.url}}" class="button">Continue Reading</a>
              </article>

            </div>
          </div>
          <div class="3u 12u(mobile)">
            <div class="sidebar">

              <!-- Archives -->
              <ul class="divided">
                {% for post in site.posts offset: 1 limit: 5  %}
                <li>
                  <article class="box post-summary">
                    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                    <ul class="meta">
                      <li class="icon fa-clock-o">{{ post.date | date_to_long_string }}</li>
                    </ul>
                  </article>
                </li>
                {% endfor %}
              </ul>
              <a href="/posts.html" class="button alt">Browse Archives</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>