
			<!-- Footer -->
				<footer id="footer" class="container">
					<div class="row 200%">
						<div class="12u">

							<!-- About -->
								<section>
									<h2 class="major"><span>What's this about?</span></h2>
									<p>
										I'm a developer studying at Purdue University for my BS in CS with a focus on 
										Software Engineering. After I graduate I'm headed to Microsoft for full time. 
										This site is home to all of my random projects and links that I find interesting.
									</p>
								</section>

						</div>
					</div>
					<div class="row 200%">
						<div class="12u">

							<!-- Contact -->
								<!--<section>
									<h2 class="major"><span>Get in touch</span></h2>
									<ul class="contact">
										<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
										<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
										<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
									</ul>
								</section>-->

						</div>
					</div>

					<!-- Copyright -->
						<div id="copyright">
							<ul class="menu">
								<li>&copy; David Tschida. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Content: David Tschida</li>
							</ul>
						</div>

				</footer>

			</div>

		<!-- Scripts -->
			<script src="{{site.url}}/assets/js/jquery.min.js"></script>
			<script src="{{site.url}}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{site.url}}/assets/js/skel.min.js"></script>
			<script src="{{site.url}}/assets/js/skel-viewport.min.js"></script>
			<script src="{{site.url}}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{site.url}}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{site.url}}/assets/js/main.js"></script>

	</body>
</html>