{% include page-top.html %}

<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="9u 12u(mobile) important(mobile)">
                <div class="content content-left">

                    <!-- Content -->
                        <article class="box page-content">
                            <header>
                                <h2>{{page.title}}</h2>
                                <p>{{page.subtitle}}</p>
                                <ul class="meta">
                                    <li class="icon fa-clock-o">{{ page.date | date_to_long_string }}</li>
                                </ul>
                            </header>
                            <section>
                                <!--<span class="image featured"><img src="{{site.url}}{{page.image}}" alt="" /></span>-->
                                <!--<p>
                                    Image subcontent. Things related to the image. 
                                </p>-->
                            </section>
                            <section>
                                <div markdown="1">
                                    {{ content }}
                                </div>
                            </section>
                        </article>
                </div>
            </div>
            <div class="3u 12u(mobile)">
                <div class="sidebar">
                <!-- Sidebar -->
                <!-- Recent Posts -->
                    <section>
                        <h2 class="major"><span>Recent Posts</span></h2>
                        <ul class="divided">
                            {% for post in site.posts offset: 1 limit: 5  %}
                            <li>
                                <article class="box post-summary">
                                    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                                    <ul class="meta">
                                        <li class="icon fa-clock-o">{{ post.date | date_to_long_string }}</li>
                                    </ul>
                                </article>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="button alt">Browse Archives</a>
                    </section>
                </div>
            </div>
        </div>
        <div class="row 200%">
            <div class="12u">

                <!-- Features -->
                    <section class="box features">
                        <h2 class="major"><span>A Major Heading</span></h2>
                        <div>
                            <div class="row">
                                <div class="3u 12u(mobile)">

                                    <!-- Feature -->
                                        <section class="box feature">
                                            <a href="#" class="image featured"><img src="{{site.url}}/images/pic01.jpg" alt="" /></a>
                                            <h3><a href="#">A Subheading</a></h3>
                                            <p>
                                                Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                                                lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
                                            </p>
                                        </section>

                                </div>
                                <div class="3u 12u(mobile)">

                                    <!-- Feature -->
                                        <section class="box feature">
                                            <a href="#" class="image featured"><img src="{{site.url}}/images/pic02.jpg" alt="" /></a>
                                            <h3><a href="#">Another Subheading</a></h3>
                                            <p>
                                                Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                                                lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
                                            </p>
                                        </section>

                                </div>
                                <div class="3u 12u(mobile)">

                                    <!-- Feature -->
                                        <section class="box feature">
                                            <a href="#" class="image featured"><img src="{{site.url}}/images/pic03.jpg" alt="" /></a>
                                            <h3><a href="#">And Another</a></h3>
                                            <p>
                                                Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                                                lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
                                            </p>
                                        </section>

                                </div>
                                <div class="3u 12u(mobile)">

                                    <!-- Feature -->
                                        <section class="box feature">
                                            <a href="#" class="image featured"><img src="{{site.url}}/images/pic04.jpg" alt="" /></a>
                                            <h3><a href="#">And One More</a></h3>
                                            <p>
                                                Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                                                lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
                                            </p>
                                        </section>

                                </div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><a href="#" class="button big">Do Something</a></li>
                                        <li><a href="#" class="button alt big">Think About It</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

            </div>
        </div>
    </div>
</div>

{% include page-bottom.html %}